body {
  margin: 0;
}

/* ----------HEADER---------- */

#header {
  min-width: 1800px;
  height: 1000px;
  background: linear-gradient(to right, #3a55ff, #9c02c7);
}

#trends {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: 800;
  padding-top: 180px;
  margin-left: 200px;
  margin-right: 200px;
  float: left;
  overflow: hidden;
  flex-wrap: wrap;
}

#trends-content {
  color: #ffffff;
  background: linear-gradient(to right, #9c02c7, #3a55ff);
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 25px;
  text-align: left;
  float: left;
  width: 400px;
  margin-top: 230px;
  margin-left: 200px;
  text-align: justify;
  padding-right: 50px;
  padding: 10px 20px 30px 20px;
}
/*----------NAV----------*/

.nav {
  display: flex;
  font-size: 20px;
  margin-left: 1350px;
  font-family: arial;
  padding-top: 10px;
}

.nav__link {
  margin-left: 50px;
  color: #fff;
  text-decoration: none;
  opacity: 0.75;

  transition: opacity 0.1s linear;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link:hover {
  opacity: 1;
}

/* ----------ASYM---------- */

#asym {
  min-width: 1800px;
  height: 1000px;
  background: linear-gradient(to right, #ff7f55, #ffee63);
}

.asym-content {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 25px;
}

#asym-all-content {
  float: left;
}

#asym-content-1-2 {
  background: linear-gradient(to right, #ffee63, #ff7f55);
  padding-top: 1px;
  padding-bottom: 1px;
  border-right: 5px solid #fff;
}

#asym-content-3-4-5 {
  background: linear-gradient(to right, #ff7f55, #ffee63);
  margin-left: 400px;
  padding: 30px 0px 60px 0px;
  border-right: 5px solid #fff;
}

#asym-content-1 {
  background: linear-gradient(to right, #ff7f55, #ffee63);
  width: 520px;
  margin-left: 100px;
  margin-top: 70px;
  padding: 20px 10px 20px 10px;
}

#asym-content-2 {
  background: linear-gradient(to right, #ffee63, #ff7f55);
  width: 520px;
  margin-left: 200px;
  margin-top: 70px;
  margin-bottom: 20px;
  padding: 20px 10px 20px 10px;
}

#asym-content-3 {
  width: 520px;
  padding-top: 20px;
  margin-right: 30px;
  margin-left: 30px;
}

#asym-content-4 {
  width: 520px;
  margin-top: 10px;
  padding: 30px 30px 30px 30px;
  background: linear-gradient(to right, #ffee63, #ff7f55);
}

#asym-content-5 {
  width: 520px;
  padding-top: 10px;
  margin-right: 30px;
  margin-left: 30px;
}

#asym-zagolovok {
  color: #000000;
  font-family: Arial;
  font-size: 90px;
  font-weight: 800;
  line-height: 90px;
  overflow: hidden;
  padding-top: 400px;
  float: left;
  margin-left: 40px;
}

/* ----------DARK THEME---------- */

#dark-theme {
  min-width: 1800px;
  height: 1000px;
  background: linear-gradient(to right, #121212, #282828);
}

#dark-theme-zagolovok {
  color: #cecece;
  width: 1000px;
  font-size: 100px;
  font-weight: 800;
  font-family: Arial;
  letter-spacing: 20px;
  padding-top: 50px;
  margin-left: 100px;
}

.dark-theme-content-1 {
  color: #cecece;
  background-color: #343434;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 300px;
  margin-left: 230px;
  display: inline-block;
  padding: 80px 10px 150px 10px;
  border-radius: 5px;
  box-shadow: 15px;
}
.dark-theme-content-2 {
  color: #cecece;
  background-color: #343434;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 300px;
  margin-left: 230px;
  display: inline-block;
  padding: 80px 10px 150px 10px;
  border-radius: 5px;
  box-shadow: 15px;
}
.dark-theme-content-3 {
  color: #cecece;
  background-color: #343434;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 300px;
  margin-left: 230px;
  display: inline-block;
  padding: 80px 10px 150px 10px;
  border-radius: 5px;
  box-shadow: 15px;
}

#dark-theme-all-content {
  float: left;
  margin-top: 200px;
}

/*----------AUTHOR----------*/

#author {
  height: 1000px;
  min-width: 1800px;
  background: linear-gradient(to top, #efab48, #d74141);
  text-align: center;
}

/*----------MEDIA----------*/

@media (min-width: 1024px) {
  #trends-content {
    margin: 100px 0 0 100px;
    float: left;
    clear: both;
    padding: 20px;
    font-size: 0.6em;
  }

  #header {
    height: 1350px;
    min-width: 1000px;
  }

  #trends {
    margin: 50px 0px 0px 100px;
    padding: 0;
    font-size: 60px;
  }

  #dark-theme {
    height: 1300px;
  }

  #dark-theme-all-content {
    margin: 100px 0 0 0;
  }

  #dark-theme-zagolovok {
    font-size: 70px;
    text-align: center;
    justify-self: center;
    margin: auto;
  }

  .dark-theme-content-1 {
    padding: 60px 10px 120px;
    margin: 0 0 0 150px;
  }

  .dark-theme-content-2 {
    margin: 0 0 0 100px;
    padding: 115px 10px 120px;
  }

  .dark-theme-content-3 {
    margin: 50px 0 0 370px;
  }

  .nav {
    margin: 0 0 15px 500px;
    padding: 50px 0 0 0;
  }

  #asym {
    min-width: 1000px;
    height: 1500px;
  }

  #asym-all-content {
    min-width: 1000px;
  }

  #dark-theme {
    min-width: 1000px;
  }

  #asym-content-1 {
    margin: 50px 0 0 50px;
  }

  #asym-content-2 {
    margin: 50px 0 0 65px;
  }

  #asym-content-3-4-5 {
    margin: 0 0 0 150px;
    width: 700px;
  }

  #asym-zagolovok {
    padding: 100px 0 0 0;
    margin-left: 300px;
    font-size: 70px;
  }

  #asym-content-1-2 {
    width: 700px;
  }

  #author {
    min-width: 1000px;
  }
}

@media (min-width: 320px) {

  #trends-content {
    margin: 0px;
    float: left;
    clear: both;
    font-size: 9px;
    max-width: 300px;
    padding: 0px 10px 20px 10px;
  }

  #header {
    height: 600px;
    min-width: 320px;
  }

  #trends {
    margin: 10px 0px 20px 100px;
    padding: 0;
    font-size: 20px;
  }

  .nav {
    margin: 0 0 10px 30px;
    padding: 5px 0 0 0;
    font-size: 10px;
    text-align: center;
  }

  #asym {
    min-width: 320px;
    height: 650px;
  }

  #asym-zagolovok {
    color: #000000;
    font-family: Arial;
    font-size: 20px;
    font-weight: 800;
    line-height: 60px;
    float: left;
    padding: 0px;
    text-align: center;
  }

  #asym-all-content {
    min-width: 320px;
  }

  #asym-content-1 {
    margin: 0px;
    font-size: 9px;
    width: 315px;
    padding: 5px 0px 5px 5px;
    border-right: none;
  }

  #asym-content-2 {
    margin: 0px;
    font-size: 9px;
    width: 315px;
    padding: 5px 0px 5px 5px;
    border-right: none;
  }

  #asym-content-3 {
    margin: 0px;
    font-size: 9px;
    width: 315px;
    padding: 5px 0px 5px 5px;
    border-right: none;
  }

  #asym-content-4 {
    margin: 0px;
    font-size: 9px;
    width: 315px;
    padding: 5px 0px 5px 5px;
    border-right: none;
  }

  #asym-content-5 {
    margin: 0px;
    font-size: 9px;
    width: 315px;
    padding: 5px 0px 5px 5px;
    border-right: none;
  }

  #asym-content-1-2 {
    width: 315px;
    border-right: none;
  }

  #asym-content-3-4-5 {
    margin: 0px;
    width: 315px;
    border-right: none;
    padding: 0px 0px 0px 0px;
  }

  #dark-theme {
   height: 650px;
   min-width: 320px;
  }

  #dark-theme-all-content {
    margin: 0px 0px 0px 0px;
  }

  #dark-theme-zagolovok {
    font-size: 20px;
    width: 320px;
    text-align: center;
    font-weight: 800;
    font-family: Arial;
    letter-spacing: 10px;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .dark-theme-content-1 {
    font-size: 10px;
    width: 200px;
    padding: 30px 10px 40px;
    margin: 20px 0px 0px 50px;
  }

  .dark-theme-content-2 {
    font-size: 10px;
    width: 200px;
    margin: 20px 0px 0px 50px;
    padding: 30px 10px 40px;
  }

  .dark-theme-content-3 {
    font-size: 10px;
    width: 200px;
    margin: 20px 0px 0px 50px;
    padding: 30px 10px 40px;
  }

  #author {
    min-width: 320px;
    height: 600px;
  }
}

@media (min-width: 375px) {

  #trends-content {
    margin: 0px;
    float: left;
    clear: both;
    font-size: 9px;
    max-width: 300px;
    padding: 0px 10px 20px 10px;
    margin-left: 30px;
  }

  #header {
    height: 600px;
    min-width: 320px;
  }

  #trends {
    margin: 10px 0px 20px 130px;
    padding: 0;
    font-size: 20px;
  }

  .nav {
    margin: 0px 0px 10px 50px;
    padding: 5px 0 0 0;
    font-size: 10px;
    text-align: center;
  }

  #asym {
    min-width: 320px;
    height: 650px;
  }

  #asym-zagolovok {
    color: #000000;
    font-family: Arial;
    font-size: 20px;
    font-weight: 800;
    line-height: 60px;
    float: left;
    padding: 0px;
    text-align: center;
  }

  #asym-all-content {
    min-width: 320px;
    margin-left: 30px;
  }

  #asym-content-1 {
    margin: 0px;
    font-size: 9px;
    width: 315px;
    padding: 5px 0px 5px 5px;
    border-right: none;
  }

  #asym-content-2 {
    margin: 0px;
    font-size: 9px;
    width: 315px;
    padding: 5px 0px 5px 5px;
    border-right: none;
  }

  #asym-content-3 {
    margin: 0px;
    font-size: 9px;
    width: 315px;
    padding: 5px 0px 5px 5px;
    border-right: none;
  }

  #asym-content-4 {
    margin: 0px;
    font-size: 9px;
    width: 315px;
    padding: 5px 0px 5px 5px;
    border-right: none;
  }

  #asym-content-5 {
    margin: 0px;
    font-size: 9px;
    width: 315px;
    padding: 5px 0px 5px 5px;
    border-right: none;
  }

  #asym-content-1-2 {
    width: 315px;
    border-right: none;
  }

  #asym-content-3-4-5 {
    margin: 0px;
    width: 315px;
    border-right: none;
    padding: 0px 0px 0px 0px;
  }

  #dark-theme {
   height: 650px;
   min-width: 320px;
  }

  #dark-theme-all-content {
    margin: 0px 0px 0px 0px;
  }

  #dark-theme-zagolovok {
    font-size: 20px;
    width: 320px;
    text-align: center;
    font-weight: 800;
    font-family: Arial;
    letter-spacing: 10px;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
  }

  .dark-theme-content-1 {
    font-size: 10px;
    width: 200px;
    padding: 30px 10px 40px;
    margin: 20px 0px 0px 80px;
  }

  .dark-theme-content-2 {
    font-size: 10px;
    width: 200px;
    margin: 20px 0px 0px 80px;
    padding: 30px 10px 40px;
  }

  .dark-theme-content-3 {
    font-size: 10px;
    width: 200px;
    margin: 20px 0px 0px 80px;
    padding: 30px 10px 40px;
  }

  #author {
    min-width: 320px;
    height: 600px;
  }
}

@media (min-width: 425px) {

  #trends-content {
    margin: 0px;
    float: left;
    clear: both;
    font-size: 9px;
    max-width: 300px;
    padding: 0px 10px 20px 10px;
    margin-left: 50px;
  }

  #header {
    height: 600px;
    min-width: 320px;
  }

  #trends {
    margin: 10px 0px 20px 160px;
    padding: 0;
    font-size: 20px;
  }

  .nav {
    margin: 0px 0px 10px 70px;
    padding: 5px 0 0 0;
    font-size: 10px;
    text-align: center;
  }

  #asym {
    min-width: 320px;
    height: 650px;
  }

  #asym-zagolovok {
    color: #000000;
    font-family: Arial;
    font-size: 20px;
    font-weight: 800;
    line-height: 60px;
    float: left;
    padding: 0px;
    text-align: center;
    margin-left: 50px;
  }

  #asym-all-content {
    min-width: 320px;
    margin-left: 50px;
  }

  #asym-content-1 {
    margin: 0px;
    font-size: 9px;
    width: 315px;
    padding: 5px 0px 5px 5px;
    border-right: none;
  }

  #asym-content-2 {
    margin: 0px;
    font-size: 9px;
    width: 315px;
    padding: 5px 0px 5px 5px;
    border-right: none;
  }

  #asym-content-3 {
    margin: 0px;
    font-size: 9px;
    width: 315px;
    padding: 5px 0px 5px 5px;
    border-right: none;
  }

  #asym-content-4 {
    margin: 0px;
    font-size: 9px;
    width: 315px;
    padding: 5px 0px 5px 5px;
    border-right: none;
  }

  #asym-content-5 {
    margin: 0px;
    font-size: 9px;
    width: 315px;
    padding: 5px 0px 5px 5px;
    border-right: none;
  }

  #asym-content-1-2 {
    width: 315px;
    border-right: none;
  }

  #asym-content-3-4-5 {
    margin: 0px;
    width: 315px;
    border-right: none;
    padding: 0px 0px 0px 0px;
  }

  #dark-theme {
   height: 650px;
   min-width: 320px;
  }

  #dark-theme-all-content {
    margin: 0px 0px 0px 0px;
  }

  #dark-theme-zagolovok {
    font-size: 20px;
    width: 320px;
    text-align: center;
    font-weight: 800;
    font-family: Arial;
    letter-spacing: 10px;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
  }

  .dark-theme-content-1 {
    font-size: 10px;
    width: 200px;
    padding: 30px 10px 40px;
    margin: 20px 0px 0px 100px;
  }

  .dark-theme-content-2 {
    font-size: 10px;
    width: 200px;
    margin: 20px 0px 0px 100px;
    padding: 30px 10px 40px;
  }

  .dark-theme-content-3 {
    font-size: 10px;
    width: 200px;
    margin: 20px 0px 0px 100px;
    padding: 30px 10px 40px;
  }

  #author {
    min-width: 320px;
    height: 600px;
  }
}

@media (min-width: 768px) {

  #trends-content {
    margin: 0px;
    margin-top: 70px;
    font-size: 10px;
    max-width: 300px;
    padding: 0px 10px 20px 10px;
    margin-left: 50px;
    float: none;
  }

  #header {
    height: 600px;
    min-width: 768px;
  }

  .trends-div {
    display: inline-block;
    vertical-align: middle;
  }

  #trends {
    margin: 10px 0px 20px 80px;
    padding: 0;
    font-size: 40px;
    float: none;
    overflow: none;
    flex-wrap: none;
  }

  .nav {
    margin: 0px 0px 10px 250px;
    padding: 5px 0 0 0;
    font-size: 10px;
    text-align: center;
  }

  #asym {
    min-width: 768px;
    height: 650px;
  }

  #asym-zagolovok {
    color: #000000;
    font-family: Arial;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    float: right;
    padding: 0px;
    text-align: center;
    margin-left: 50px;
    margin-right: 200px;
    margin: 300px 100px 0px 0px;
  }

  #asym-all-content {
    min-width: 320px;
    margin-left: 0px;
    margin-top: 20px;
  }

  #asym-content-1 {
    margin: 0px;
    font-size: 10px;
    width: 320px;
    padding: 5px 5px 5px 5px;
    border-right: none;
  }

  #asym-content-2 {
    margin: 0px;
    font-size: 10px;
    width: 315px;
    padding: 5px 5px 5px 5px;
    border-right: none;
  }

  #asym-content-3 {
    margin: 0px;
    font-size: 10px;
    width: 315px;
    padding: 5px 5px 5px 5px;
    border-right: none;
  }

  #asym-content-4 {
    margin: 0px;
    font-size: 10px;
    width: 315px;
    padding: 5px 5px 5px 5px;
    border-right: none;
  }

  #asym-content-5 {
    margin: 0px;
    font-size: 10px;
    width: 315px;
    padding: 5px 5px 5px 5px;
    border-right: none;
  }

  #asym-content-1-2 {
    width: 315px;
    border-right: none;
  }

  #asym-content-3-4-5 {
    margin: 0px;
    width: 315px;
    border-right: none;
    padding: 0px 0px 0px 0px;
  }

  #dark-theme {
   height: 650px;
   min-width: 768px;
  }

  #dark-theme-all-content {
    margin: 0px 0px 0px 0px;
  }

  #dark-theme-zagolovok {
    font-size: 40px;
    width: 768px;
    text-align: center;
    font-weight: 800;
    font-family: Arial;
    letter-spacing: 10px;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .dark-theme-content-1 {
    font-size: 10px;
    width: 200px;
    padding: 30px 10px 40px;
    margin: 20px 0px 0px 330px;
  }

  .dark-theme-content-2 {
    font-size: 10px;
    width: 200px;
    margin: 20px 150px 0px 100px;
    padding: 30px 10px 40px;
  }

  .dark-theme-content-3 {
    font-size: 10px;
    width: 200px;
    margin: 20px 0px 0px 330px;
    padding: 30px 10px 40px;
  }

  #author {
    min-width: 320px;
    height: 600px;
  }
}

@media (min-width: 1024px) {

  #trends-content {
    margin: 0px;
    margin-top: 70px;
    font-size: 10px;
    max-width: 300px;
    padding: 0px 20px 30px 20px;
    margin-left: 150px;
    float: none;
  }

  #header {
    height: 600px;
    min-width: 1024px;
  }

  .trends-div {
    display: inline-block;
    vertical-align: middle;
  }

  #trends {
    margin: 10px 0px 20px 120px;
    padding: 0;
    font-size: 50px;
    float: none;
    overflow: none;
    flex-wrap: none;
  }

  .nav {
    margin: 0px 0px 10px 350px;
    padding: 5px 0 0 0;
    font-size: 10px;
    text-align: center;
  }

  #asym {
    min-width: 1024px;
    height: 700px;
  }

  #asym-zagolovok {
    color: #000000;
    font-family: Arial;
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    float: right;
    padding: 0px;
    text-align: center;
    margin-left: 50px;
    margin-right: 200px;
    margin: 300px 100px 0px 0px;
  }

  #asym-all-content {
    min-width: 320px;
    margin-left: 0px;
    margin-top: 20px;
  }

  #asym-content-1 {
    margin: 0px;
    font-size: 10px;
    width: 320px;
    padding: 10px 20px 5px 10px;
    border-right: none;
  }

  #asym-content-2 {
    margin: 0px;
    font-size: 10px;
    width: 315px;
    padding: 10px 50px 5px 10px;
    border-right: none;
  }

  #asym-content-3 {
    margin: 0px;
    font-size: 10px;
    width: 315px;
    padding: 10px 5px 5px 10px;
    border-right: none;
  }

  #asym-content-4 {
    margin: 0px;
    font-size: 10px;
    width: 315px;
    padding: 10px 30px 5px 10px;
    border-right: none;
  }

  #asym-content-5 {
    margin: 0px;
    font-size: 10px;
    width: 315px;
    padding: 10px 5px 5px 10px;
    border-right: none;
  }

  #asym-content-1-2 {
    width: 315px;
    border-right: none;
  }

  #asym-content-3-4-5 {
    margin: 0px;
    width: 315px;
    border-right: none;
    padding: 0px 0px 0px 0px;
  }

  #dark-theme {
   height: 650px;
   min-width: 1024px;
  }

  #dark-theme-all-content {
    margin: 100px 0px 0px 0px;
  }

  #dark-theme-zagolovok {
    font-size: 60px;
    width: 1024px;
    text-align: center;
    font-weight: 800;
    font-family: Arial;
    letter-spacing: 10px;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .dark-theme-content-1 {
    font-size: 11px;
    width: 200px;
    padding: 50px 10px 80px;
    margin: 0px 0px 0px 50px;
  }

  .dark-theme-content-2 {
    font-size: 11px;
    width: 200px;
    margin: 20px 100px 0px 100px;
    padding: 50px 10px 80px;
  }

  .dark-theme-content-3 {
    font-size: 11px;
    width: 200px;
    margin: 20px 0px 0px 0px;
    padding: 50px 10px 80px;
  }

  #author {
    min-width: 320px;
    height: 600px;
  }
}

@media (min-width: 1300px) {

  #trends-content {
    margin: 0px;
    margin-top: 70px;
    font-size: 12px;
    max-width: 400px;
    padding: 10px 15px 40px 15px;
    margin-left: 200px;
    float: none;
    line-height: 30px;
  }

  #header {
    height: 800px;
    min-width: 1300px;
  }

  .trends-div {
    display: inline-block;
    vertical-align: middle;
  }

  #trends {
    margin: 50px 0px 20px 120px;
    padding: 0;
    font-size: 90px;
    float: none;
    overflow: none;
    flex-wrap: none;
  }

  .nav {
    margin: 0px 0px 10px 500px;
    padding: 5px 0 0 0;
    font-size: 15px;
    text-align: center;
  }

  #asym {
    min-width: 1300px;
    height: 750px;
  }

  #asym-zagolovok {
    color: #000000;
    font-family: Arial;
    font-size: 80px;
    font-weight: 800;
    line-height: 80px;
    float: right;
    padding: 0px;
    text-align: center;
    margin-left: 50px;
    margin-right: 200px;
    margin: 300px 100px 0px 0px;
  }

  #asym-all-content {
    min-width: 320px;
    margin-left: 0px;
    margin-top: 20px;
  }

  #asym-content-1 {
    margin: 0px;
    font-size: 13px;
    width: 500px;
    padding: 20px 20px 20px 10px;
    border-right: none;
  }

  #asym-content-2 {
    margin: 0px;
    font-size: 13px;
    width: 500px;
    padding: 20px 50px 20px 10px;
    border-right: none;
  }

  #asym-content-3 {
    margin: 0px;
    font-size: 13px;
    width: 400px;
    padding: 20px 5px 20px 10px;
    border-right: none;
  }

  #asym-content-4 {
    margin: 0px;
    font-size: 13px;
    width: 500px;
    padding: 20px 30px 20px 10px;
    border-right: none;
  }

  #asym-content-5 {
    margin: 0px;
    font-size: 13px;
    width: 400px;
    padding: 20px 5px 20px 10px;
    border-right: none;
  }

  #asym-content-3-4-5 {
    margin: 0px;
    width: 430px;
    border-right: none;
    padding: 0px 0px 0px 0px;
  }

  #dark-theme {
   height: 650px;
   min-width: 1300px;
  }

  #dark-theme-all-content {
    margin: 100px 0px 0px 0px;
  }

  #dark-theme-zagolovok {
    font-size: 80px;
    width: 1300px;
    text-align: center;
    font-weight: 800;
    font-family: Arial;
    letter-spacing: 10px;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .dark-theme-content-1 {
    font-size: 16px;
    width: 300px;
    padding: 50px 10px 90px;
    margin: 0px 0px 0px 80px;
  }

  .dark-theme-content-2 {
    font-size: 16px;
    width: 300px;
    margin: 20px 100px 90px 100px;
    padding: 50px 10px 80px;
  }

  .dark-theme-content-3 {
    font-size: 16px;
    width: 300px;
    padding: 50px 10px 90px;
    margin: 0px 0px 0px 0px;
  }

  #author {
    min-width: 320px;
    height: 600px;
  }
}

@media (min-width: 1440px) {

  #trends-content {
    margin: 0px;
    margin-top: 130px;
    font-size: 12px;
    max-width: 400px;
    padding: 20px 15px 40px 15px;
    margin-left: 250px;
    float: none;
    line-height: 30px;
  }

  #header {
    height: 800px;
    min-width: 1440px;
  }

  .trends-div {
    display: inline-block;
    vertical-align: middle;
  }

  #trends {
    margin: 100px 0px 20px 120px;
    padding: 0;
    font-size: 90px;
    float: none;
    overflow: none;
    flex-wrap: none;
  }

  .nav {
    margin: 0px 0px 10px 570px;
    padding: 5px 0 0 0;
    font-size: 15px;
    text-align: center;
  }

  #asym {
    min-width: 1440px;
    height: 800px;
  }

  #asym-zagolovok {
    color: #000000;
    font-family: Arial;
    font-size: 80px;
    font-weight: 800;
    line-height: 80px;
    float: right;
    padding: 0px;
    text-align: center;
    margin-left: 50px;
    margin-right: 200px;
    margin: 300px 100px 0px 0px;
  }

  #asym-all-content {
    min-width: 320px;
    margin-left: 0px;
    margin-top: 20px;
  }

  #asym-content-1 {
    margin: 0px;
    font-size: 14px;
    width: 500px;
    padding: 20px 40px 20px 10px;
    border-right: none;
  }

  #asym-content-2 {
    margin: 0px;
    font-size: 14px;
    width: 500px;
    padding: 20px 100px 20px 10px;
    border-right: none;
  }

  #asym-content-3 {
    margin: 0px;
    font-size: 14px;
    width: 400px;
    padding: 20px 5px 20px 10px;
    border-right: none;
  }

  #asym-content-4 {
    margin: 0px;
    font-size: 14px;
    width: 500px;
    padding: 20px 30px 20px 10px;
    border-right: none;
  }

  #asym-content-5 {
    margin: 0px;
    font-size: 14px;
    width: 400px;
    padding: 20px 5px 20px 10px;
    border-right: none;
  }

  #asym-content-3-4-5 {
    margin: 0px;
    width: 430px;
    border-right: none;
    padding: 0px 0px 0px 0px;
  }

  #dark-theme {
   height: 750px;
   min-width: 1440px;
  }

  #dark-theme-all-content {
    margin: 150px 0px 0px 0px;
  }

  #dark-theme-zagolovok {
    font-size: 80px;
    width: 1440px;
    text-align: center;
    font-weight: 800;
    font-family: Arial;
    letter-spacing: 10px;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .dark-theme-content-1 {
    font-size: 16px;
    width: 300px;
    padding: 50px 10px 90px;
    margin: 0px 0px 0px 150px;
  }

  .dark-theme-content-2 {
    font-size: 16px;
    width: 300px;
    margin: 20px 100px 90px 100px;
    padding: 50px 10px 80px;
  }

  .dark-theme-content-3 {
    font-size: 16px;
    width: 300px;
    padding: 50px 10px 90px;
    margin: 0px 0px 0px 0px;
  }

  #author {
    min-width: 320px;
    height: 600px;
  }
}